<div class="page-header">
    <h1>Quizington</h1>
    <p class="lead">Revise questions and answers</p>
    <p>Access your existing notes in Google Docs or GitHub gists</p>
  </div>

  <form name="form" class="form-signin" ng-submit="request()">
    <h3>Paste your link here</h3>
      <input type="text" class="form-control" name="name" ng-model="url" required autofocus/>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Practise!</button>
  </form>
</div>

<section>
  <div class="row">
    <div class="col-6">
      <h2>Instructions:</h2>
      <ol>
        <li>Make sure the Doc is shared. <a href="https://support.google.com/drive/answer/2494822?hl=en">Instructions here.</a></li>
        <li>Copy the Doc URL into the search box above</li>
      </ol>
      <img src="images/docs.png" class="img-rounded" alt="Google Doc">
    </div>
  </div>
</section>
<div class="footer pull-right">
  <p><a href="http://dunckr.com">❤ dunckr</a></p>
</div>
